{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-center">
        <div>
            <div class="logo mt-2"><img src="{{ asset('build/images/W\'s.png') }}" alt="pic" class="picw"></div>
        </div>
        <h1 class="text-light">Welcome on {{ Website }}!</h1>
    </div>
{% endblock %}

