{% extends 'base.html.twig' %}

{% block body %}
    <div class="text-light text-center mt-4">
        <h1>Want to add new season? Go here ⬇️</h1>
    </div>
<div class="text-light mt-5">
    {{ include('season/_form.html.twig') }}
</div>
    <a href="{{ path('season_index') }}">back to list</a>
{% endblock %}
